:root {
    --title-text-color: #212121;
    --body-color: #757575;
    --logo-first-part: #2196F3;
    --logo-second-part-top: #000000;
    --logo-second-part-down: #FFFFFF;
    --header-link-color: #212121;
    --link-color-focus: #2196F3;
    --hader-info-link-color: #757575;
    --link-color: #2196F3;
    --footer-bg-color: #2F303A;
    --footer-info-color: rgba(255, 255, 255, 0.6) ;
    --footer-address-link: #FFFFFF;
    --bg-color: #FFFFFF;
    --hero-title-color: #FFFFFF;
    --hero-bg-color: #2F303A;
    --team-bg-color: #F5F4FA;
    --team-card-bg-color: #FFFFFF;
    --button-color: #FFFFFF;
    --button-bg-color: #2196F3;
    --buton-bg-color-focus: #188CE8;
    --button-filter-color: #212121;
    --button-filter-bg-color: #F5F4FA;
    --button-filter-focus: #FFFFFF;
}
body {
    background-color: var(--bg-color);
    color: var(--body-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}
h2, h3, p{
    margin-top: 0;
    margin-bottom: 0;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    outline: 2px solid tomato;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.header {
    background-color: var(--bg-color);
}
.hero {
    background-color: var(--hero-bg-color);
    text-align: center;
}
.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}   
.logo-blue {
    color: var(--logo-first-part);
}
.logo-dark{
    color: var(--logo-second-part-top);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-light {
    color: var(--logo-second-part-down);
    text-decoration: none;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.header-site-nav .header-link {
    color: var(--header-link-color);
}
.header-site-nav .header-link:hover,
.header-site-nav .header-link:focus {
    color: var(--link-color-focus);
}
.header-link,
.header-info-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.header-info-nav .header-info-link{
    color: var(--hader-info-link-color);
}
.header-info-nav .header-info-link:hover,
.header-info-nav .header-info-link:focus {
    color: var(--link-color-focus);
}

.header-site-nav .header-link.current {
    color: var(--link-color-focus);
}
.hero-title {
    color: var(--hero-title-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 30px;
}
.button {
    color: var(--button-color);
    background-color: var(--button-bg-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    width: 216px;
}
.button:hover,
.button:focus {
    background: var(--buton-bg-color-focus);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.feature-list .title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14; 
    margin-bottom: 10px;   
}
.feature-list .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.team {
    background-color: var(--team-bg-color);
}
.work li{
    margin: 0;
}
.work-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.features-title, 
.work-title, 
.team-title {
    color: var(--title-text-color);
    margin-bottom: 50px;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.team-card {
    background-color: var(--team-card-bg-color);
    padding-bottom: 30px;
}
.team-card .title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 30px;
}
.team-position {
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 10px;
    
}
.title {
    color: var(--title-text-color);
}


.footer {
    background-color: var(--footer-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.address {
    font-style: normal;
    margin-top: 20px;
}
.address-link {
    color: var(--footer-address-link) ;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
}
.footer-info {
    color: var(--footer-info-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    margin-top: 9px;
    display: inline-block;
}
.footer-info:hover,
.footer-info:focus {
    color: var(--link-color-focus);
}
/* Portfolio */
.button-filter {
    color: var(--button-filter-color) ;
    background-color: var(--button-filter-bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
}
.button-filter:hover,
.button-filter:focus {
    color: var(--button-filter-focus);
    background-color: var(--link-color-focus);
}
.portfolio-list {
    margin-top: 50px;
}
.portfolio-list-link {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
}
.portfolio-list .title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 20px;
    margin-left: 24px;
    margin-right: 24px;
}
.portfolio-list p {
   color:var(--body-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    margin: 4px 24px 20px;
}